h1{
  color: #ff2600 ; 
text-align: center;
} 
h2{
text-align: center;
}

body{
  background-color: lightblue;
}
nav{
width: 200px;
border: 10px solid black;
padding: none;
margin: 10px;
margin-left:auto;
margin-right:auto;
  background:pink
}
p{
  font-family: sans-serif;
  text-align: center;
} 
li{
  font-size:30px;
  text-align: center;
}
img{
  border-radius: 30%;
}
